return {
    APS = {
        {ssid = 'wifi_ssid1', pass = 'qwerty'},
        {ssid = 'wifi_ssid2', pass = '123456'}
    },
    MQTT = {server = 'mqtt_host', port = 1883, user = 'mquser', pass = 'mqpass'},
}
